body{
	/*border: 1px solid green;*/
	width: 95vw;
	height: 95vh;
}
.level {
	width: 90%;
	height: 50%;
	border: 1px solid black;
	background-image: url("background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#hero {
	position:absolute; top:300px;
	width: 20px;
	height: 20px;
	background-image: url("game-imgs/Boomer.png");
	background-position: 120px 539px;
}
.punch {
	animation: punch steps(3) 0.55s infinite;
}
@keyframes punch {
	from { background-position: 119px 362px; }
	to { background-position: 94px 362px; }
}
.kick {
	animation: kick steps(3) 0.55s infinite;
}
@keyframes kick {
	from { background-position: 69px 362px; }
	to { background-position: 47px 362px; }
}
p {
	font-size: 10px;
}
progress {
	border: 1px solid black;
}